<!DOCTYPE html>
<html>
<head>
  <title>Kane Montreuil - Software Developer</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">
  <script src="https://use.fontawesome.com/888b8fb47c.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <a href="index.html" class="name">Kane Montreuil</a>
    <nav>
      <%= link_to "Articles", posts_path %>
      <a href="projects.html">Projects</a>
      <a href="contact.html">Contact</a>
    </nav>
  </header>

<%= yield %>

</body>
</html>
