<!DOCTYPE html>
<html>
<head>
  <title>Kane Montreuil | Software Developer | Atlanta</title>
  <meta property="og:title" content="Kane Montreuil | Software Developer | Atlanta">
  <meta name="description" content="Mobile &amp; web app developer based in Atlanta.">
  <meta property="og:description" content="Mobile &amp; web app developer based in Atlanta.">
  <meta property="og:image" content="/assets/profile.png?v=2"/>
  <link rel="shortcut icon" href="<%= favicon_link_tag(source='favicon.ico', options={}) %>">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">
  <script src="//use.fontawesome.com/888b8fb47c.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <%= link_to "Kane Montreuil", root_path, class: "name" %>
    <nav>
      <%= link_to "Articles", posts_path %>
      <%= link_to "Projects", projects_path %>
      <%= link_to "Contact", new_contact_path %>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
  </header>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>

  <footer id="main_footer" class="clearfix">
    <p class="copyright">&copy;2016 Kane Montreuil</p>
    <nav>
      <a href="https://twitter.com/kanemontreuil" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://linkedin.com/in/kanemontreuil" target="_blank"><i class="fa fa-linkedin-square"></i></a>
      <a href="https://github.com/kanemontreuil" target="_blank"><i class="fa fa-github"></i></a>
    </nav>
  </footer>

</body>
</html>
